---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<img src="{{ 'img/morehead.png' | url }}" alt="pixel art of a head" />
<h3>Indie Projects</h3>
<ul>
	<li><a href="https://lyte2d.com">https://lyte2d.com</a> OSS/free Lua game framework. MIT license</li>
	<li><a href="https://lmaopilot.com">https://lmaopilot.com</a> (Alpha) Simple AI code pilot for VSCode. (Previously OSS)</li>
</ul>
<h3>Socials</h3>
<ul>

	<li>x.com: <a href="https://x.com/morew4rd">https://x.com/morew4rd</a></li>
	<li>github: <a href="https://github.com/morew4rd">https://github.com/morew4rd</a></li>
	<li>itch.io: <a href="https://morew4rd.itch.io">https://morew4rd.itch.io</a></li>
	<li>website: <a href="https:morew4rd.com">https:morew4rd.com</a></li>
</ul>
<h3>OSS projects</h3>
<ul>
	<li><a href="https://github.com/lyte2d/lyte2d">lyte</a> Lyte2d sources</li>
	<li><a href="https://github.com/morew4rd/ryte">ryte</a> An experiment of porting lyte core to Zig (parked)</li>
	<li><a href="https://github.com/morew4rd/moreward.h">moreward.h</a> Base C library </li>
</ul>

<h3>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
