{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{%- for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">[{{ post.date | mgReadableDateTime }}]</time>
		{% if not post.data.title %}
			<div class="postlist-nolink">
				{{ post.content | safe  }}
			</div>
		{% else %}
			<a href="{{ post.url }}" class="postlist-link">
				{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
			</a>
		{% endif %}
		<br />
	</li>
{%- endfor %}
</ol>
