:root.light {
	--color-gray-00: #ffffff;
	--color-gray-50: #C0C0C0;
	--color-gray-99: #111;
	--color-blue-link: #0000ffff;

	--background-color: var(--color-gray-00);
	--text-color: var(--color-gray-99);

	--text-color-link: var(--color-blue-link);
	--text-color-link-active: var(--color-blue-link);
	--text-color-link-visited: var(--color-blue-link);

	--syntax-tab-size: 2;
}

:root:not(.light) {
		/* --color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		/*
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b; */
	--color-gray-00: #000000;
	--color-gray-50: #C0C0C0;
	--color-gray-99: #e0e0e0;
	--color-blue-link: #42a0ed;

	--background-color: var(--color-gray-00);
	--text-color: var(--color-gray-99);

	--text-color-link: var(--color-blue-link);
	--text-color-link-active: var(--color-blue-link);
	--text-color-link-visited: var(--color-blue-link);


	--syntax-tab-size: 2;
}

.theme-icon {
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

:root.light .theme-icon {
	background-image: url('/img/sun.svg');
	color: white
}

:root:not(.light) .theme-icon {
	background-image: url('/img/moon.svg');
    color: white;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
}